<div class="cityget mt-5 hidden">
    <label for="idnumber" class="form-label">Enter city_id</label>
    <input class="form-control w-25" type="number" name="getid" id="idnumber">
    <input class="form-control w-25 hidden" type="text" name="getall">
</div>

<div class="citypost mt-5 hidden">
    <label for="newcity" class="form-label">Enter new city name</label>
    <input class="form-control w-25" type="text" name="newcitypost" id="newcity">
</div>

<div class="citypost mt-5 hidden">
    <label for="countryid" class="form-label">Enter country_id</label>
    <input class="form-control w-25" type="number" name="postcountryid" id="postcountryid">
</div>

<div class="cityput mt-4 hidden">
    <label for="idnumber" class="form-label">Enter city_id</label>
    <input class="form-control w-25" type="number" name="putid" id="idnumber">
</div>

<div class="cityput mt-1 hidden">
    <label for="newcityr" class="form-label">Enter new city</label>
    <input class="form-control w-25" type="text" name="putcity" id="newcity">
</div>

<div class="cityput mt-1 hidden">
    <label for="newcityr" class="form-label">Enter new country_id</label>
    <input class="form-control w-25" type="number" name="putcountry" id="newcity">
</div>

<div class="citydelete mt-5 hidden">
    <label for="idnumber" class="form-label">Enter city_id</label>
    <input class="form-control w-25" type="number" name="deleteid" id="idnumber">
</div>