<div class="countryget mt-5 hidden">
    <label for="idnumber" class="form-label">Enter country_id</label>
    <input class="form-control w-25" type="number" name="getid" id="idnumber">
     <input class="form-control w-25 hidden" type="text" name="getall">
</div>

<div class="countrypost mt-5 hidden">
     <label for="newcountry" class="form-label">Enter country</label>
    <input class="form-control w-25" type="text" name="newcountrypost" id="newcountry">
</div>


<div class="countryput mt-5 hidden">
    <label for="idnumber" class="form-label">Enter id</label>
    <input class="form-control w-25" type="number" name="putid" id="idnumber">
</div>

<div class="countryput mt-5 hidden">
     <label for="newcountryr" class="form-label">Enter country</label>
    <input class="form-control w-25" type="text" name="putcountry" id="newcountry">
</div>

<div class="countrydelete mt-5 hidden">
    <label for="idnumber" class="form-label">Enter city_id</label>
    <input class="form-control w-25" type="number" name="deletecountry" id="idnumber">
</div>