<!DOCTYPE html>
<html lang="en">

<head>
    {{>html_headers}}

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div id="box-outer" class="p-3 mx-auto"></div>
    </div>

    {{>footer}}

    <script src="/js/browser.js"></script>
</body>

</html>